# node modules
node_modules

# ignore transpiled files
packages/*/lib
packages/*/dist
packages/codegen/tsconfig.json
packages/scripts/tsconfig.json
packages/server/tsconfig.json

/lib
/dist
/build
/cache
/publish
*.xml
*.rar
*.tsbuildinfo
api.txt
.env
.next
db-connection.json