# node modules
node_modules

# ignore transpiled files
packages/*/lib
packages/codegen/tsconfig.json
packages/scripts/tsconfig.json
packages/server/tsconfig.json

/dist
/cache
/publish
*.xml
*.rar
*.html
*.tsbuildinfo
api.txt
.env
db-connection.json