.dictionary-content {
  .ag-pinned-right-header {
    width: 120px !important;
    max-width: 120px !important;
    min-width: 120px !important;
  }

  .ag-react-container {
    width: 100%;
  }

  .flexTable .ag-theme-material .ag-header .ag-header-cell-text {
    font-family: Open Sans;
    font-size: 16px;
    color: #495057;
  }
}
